<!-- ======= Hero Section ======= -->
<section id="hero">
    <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">


      <div class="carousel-inner" role="listbox">

        <!-- Slide 1 -->
        <div class="carousel-item active" style="background-image: url(assets/img/swi.jpg)">
          <div class="carousel-container">
            <div class="container">
              <h2 class="animate__animated animate__fadeInDown">Welcome to <span>TOT FD</span></h2>
              <p class="animate__animated animate__fadeInUp">We have a long and proud history givin emphasis to environment social and economic outcomes to deliver places that respond.</p>
              <a href="/about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
            </div>
          </div>
        </div>

       

    </div>
</div>
</section>
  <!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <!--
    <section id="about" class="about">
      <div class="container">

        <div class="row content">
          <div class="col-lg-6">
            <h2>TOT FD</h2>
            <h3>We are the best swimming pool services provider</h3>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              We are the dedicate team with therrow knowledge in the various technologies. We have a clear knowledge from the inception to the development.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> We always give 100% commitment to the 200% quality delivery.</li>
              <li><i class="ri-check-double-line"></i> We ater the best in providing timely and truely services.</li>
              <li><i class="ri-check-double-line"></i> Our plan are tailored lifestyle and budget and are followed up with a detailed.</li>
            </ul>
            <p class="fst-italic">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
              magna aliqua.
            </p>
          </div>
        </div>

      </div>
    </section>
    -->
    <!-- End About Section -->

   

    <!-- ======= Services Section ======= -->
    <!--
    <section id="services" class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6">
            <div class="icon-box">
              <i class="bi bi-briefcase"></i>
              <h4><a href="#">Product Development</a></h4>
              <p>Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-card-checklist"></i>
              <h4><a href="#">App Development</a></h4>
              <p>Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-bar-chart"></i>
              <h4><a href="#">Customer specific customization</a></h4>
              <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-md-6 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="bi bi-binoculars"></i>
              <h4><a href="#">E-commerce development</a></h4>
              <p>Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum</p>
            </div>
          </div>
          
          </div>    
            
          </div>
          </section>
        -->
    <!-- End Services Section -->

  </main><!-- End #main -->
