<header id="header" class="fixed-top d-flex align-items-center" style="background: #29549e;">
    <div class="container d-flex align-items-center">

      
      <!-- image logo -->
      <a href="index.html" class="logo me-auto" style="margin-left: -10px;"><img src="assets/img/logo.png" alt="TOT FD" class="img-fluid"></a>

      <nav id="navbar" class="navbar primary">
        <ul>
          <li><a routerLink="" >Home</a></li>

          <li><a routerLink="about">About Us</a></li>
          <li><a routerLink="services">Our Services</a></li>
          <li><a routerLink="products">Our Products</a></li>
          <li><a routerLink="contact">Contact Us</a></li>
          <li><a routerLink="login">Login</a></li>
          <li><a routerLink="change-password">Change Password</a></li>
          <li><a routerLink="website-content">Website Content</a></li>
          <li><a routerLink="leads">Leads</a></li>
          <li><a routerLink="logOut">Log Out</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav>
      <!-- .navbar -->

    </div>
  </header><!-- End Header -->
