<main id="main">

    <!-- ======= Breadcrumbs ======= -->
    <section id="breadcrumbs" class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2 class="fw-bold">Products</h2>
          <ol>
            <li><a href="index.html">Home</a></li>
            <li>Products</li>
          </ol>
        </div>

      </div>
    </section><!-- End Breadcrumbs -->

    <!-- ======= Product Section ======= -->
    <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
    


      <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between  p-3">
            <p class="lead mb-0 fw-bold"> Swimming Pool</p>
            
          </div>
          <img src="assets/img/pool.webp"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
               
            </div>

            <div class="d-flex justify-content-center mb-3">
                    <h5 class="text-dark mb-0"></h5>
              <!-- <button type="button" class="btn btn-warning">Go to The Product </button> -->
              <button type="button" class="btn btn-primary">
                Go to The Product 
              </button>
            </div>

             </div>
        </div>
      </div>


       <div class="col-md-12 col-lg-6 mb-4 mb-lg-0">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0 fw-bold"> Swimming Pool</p>
            
          </div>
          <img src="assets/img/pool.webp"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
               
            </div>

            <div class="d-flex justify-content-center mb-3">
                    <h5 class="text-dark mb-0"></h5>
              <!-- <button type="button" class="btn btn-warning">Go to The Product </button> -->
              <button type="button" class="btn btn-primary">
                Go to The Product 
              </button>
            </div>

             </div>
        </div>
      </div>

       <div class="col-md-12 col-lg-6 mb-4 mb-lg-0 mt-4">
        <div class="card">
          <div class="d-flex justify-content-between p-3">
            <p class="lead mb-0 fw-bold"> Swimming Pool</p>
            
          </div>
          <img src="assets/img/pool.webp"
            class="card-img-top" alt="Laptop" />
          <div class="card-body">
            <div class="d-flex justify-content-between">
               
            </div>

            <div class="d-flex justify-content-center mb-3">
                    <h5 class="text-dark mb-0"></h5>
              <!-- <button type="button" class="btn btn-warning">Go to The Product </button> -->
              <button type="button" class="btn btn-primary">
                Go to The Product 
              </button>
            </div>

             </div>
        </div>
      </div>
    <!-- End Product Section -->
</div>
</div>
</section>
  </main><!-- End #main -->
